{% extends 'base.html' %}

{% block cambio %}
    <h1>Título: {{producto.titulo }}</h1>
    <p>Descripción: {{ producto.descripcion }}</p>
    <p>Fecha creación: {{ producto.fecha_creacion }}</p>
    <img style="height: 400px" src="{{ producto.imagen.url }}" alt="">

       {% if user.is_authenticated %}
    
    <form action="" method="POST">
    {% csrf_token %}
        
        <input type="text" name="comentario">
        <input type="hidden" name="producto" value="{{producto.id}}">
        <input type="submit" value="Enviar">
    
    </form>
           
{% endif %} 
    
    
{% endblock %}
