{% extends 'base.html' %}

{% block cambio %}

    <div>

        <form action="/app/buscar_producto" method="GET">

            {{ form.as_p }}

            <input type="submit" value="Buscar">
        </form>
    </div>


    {% for producto in productos %}
        <h2> {{ producto.titulo }} </h2>
        <p class="lead mb-0">
            ID producto: {{ producto.id_producto }}
        <p class="lead mb-0">
            Precio de venta: {{ producto.precio_venta }}
        </p>

        <a href="/app/producto/{{ producto.id }}">Detalle</a>

        <p>
            <a href="{% url 'ProductoEditar' producto.id %}">Editar</a>
        </p>

        <p>
            <a href="{% url 'ProductoEliminar' producto.id %}">Eliminar</a>
        </p>
        <p>
            <a href="{% url 'comentario' producto.id %}">Comentar</a>
        </p>

    {% endfor %}


    <hr>


{% endblock %}

